# Data Wrangling

In [450]:
#Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pendulum
import datetime

In [118]:
"""
Data Wrangling Section 1: Assessment Page Views.csv
"""
#Read in csv as dataframe
#Using a smaller subset of the data since testing with 6mil+ rows would be too intensive
df = pd.read_csv('/Users/ethanrowe/Dev/springboard_data/KSU Assessment Page Views Fall 2018.csv', nrows = 10000)

In [48]:
#Eliminate Outliers using the 1.5*interquartile rule
IQR = float(df['duration'].quantile([0.75])) - float(df['duration'].quantile([0.25]))
upper_bound = float(df['duration'].quantile([0.75])) + 1.5*IQR
lower_bound = float(df['duration'].quantile([0.25])) - 1.5*IQR

df_clean = df[(df['duration'] < upper_bound) & (df['duration'] > lower_bound)]

In [376]:
print("Cleaned Data:")
print(df_clean.shape)
print(df.isna().sum())
#df_clean.to_csv('KSU Assessment Page Views Fall 2018 Clean.csv')

Cleaned Data:
(8846, 13)
assessment_attempt_id                                         0
assessment_type                                               0
canvas_assignment_id                                          0
canvas_course_id                                              0
canvas_section_id                                             0
created_at                                                    0
duration                                                      0
id                                                            0
load_time                                                     0
page_id                                                       0
raw_lti_param_ext_outcome_submission_submitted_at_accepted    0
submit_time                                                   0
user_param_external_user_id                                   0
dtype: int64

In [110]:
#Group by page and by students to compare average assignment durations
assignment_df = pd.DataFrame(df_clean.groupby(['canvas_assignment_id'])['duration'].mean())
print('\nGrouped by Assignment')
assignment_df.columns = ['Average Duration']
print(assignmnet_df.shape)

user_df = pd.DataFrame(df_clean.groupby(['user_param_external_user_id', 'canvas_assignment_id'])['duration'].mean())
print('\nGrouped by User')
user_df.columns = ['Average Duration']
print(user_df.shape)


#page_df.to_csv('KSU Assessment Assignment Duration Averages.csv')
#user_df.to_csv('KSU Assessment Student Views by User.csv')

Grouped by Assignment
(580, 1)

Grouped by User
(1865, 1)

In [408]:
#User_df is good for visualizing the data, but a df that is easier to work with will be labeled sub_df. It has the 
#same columns as user_df, just in a different order with a numerical index. It will also be sorted by 
#canvas_assignment_id in order to match assignment_df's index
sub_df = user_df.reset_index()  
sub_df = sub_df.set_index('canvas_assignment_id')  
sub_df = sub_df.sort_index()     
sub_df = sub_df.reset_index()    

#Using the user_df, turn it back into a dictionary grouped by canvas_assignment ids
dfs = {}       
for entry in sub_df.iterrows():  
    if index != entry[1]['canvas_assignment_id']:  
        index = entry[1]['canvas_assignment_id']  
        df = pd.DataFrame(columns=['canvas_assignment_id', 'user_param_external_user_id', 'Average Duration'])  
        df = df.append(dict(entry[1]), ignore_index = True) 
        dfs[index] = df  
    else:  
        dfs[index] = dfs[index].append(dict(entry[1]), ignore_index = True)  

#Now page_df and this dictionary dfs should have one to one matches for the loop below
#This loop will find all the student-assignment_id pairs that had an above average duration for that assignment
above_avg_df = pd.DataFrame(columns = ['canvas_assignment_id', 'user_param_external_user_id','Average Duration']) 
for entry in assignment_df.iterrows(): 
    df = dfs[entry[0]] 
    above_avg_chunk = df[df['Average Duration'] >= entry[1][0]] 
    above_avg_df = above_avg_df.append(above_avg_chunk) 
#above_avg_df.to_csv('KSU Students with Above Average Assignment Duration.csv')

In [116]:
print("Students with longer than average assignmnet durations:")
print(above_avg_df.shape)
print(above_avg_df.head())

Students with longer than average assignmnet durations:
(1018, 3)
   canvas_assignment_id  user_param_external_user_id  Average Duration
0               40876.0                      37827.0      12831.500000
0               40878.0                      37949.0       9549.583333
3               40878.0                      37251.0      10307.500000
0               40879.0                      38399.0      11579.000000
5               40879.0                      40394.0      16064.857143

In [451]:
"""
Data Wrangling Section 2: Course Grades 
Course Grades has been cleand by hand in excel. The details are outlined in Data Wrangling.md
"""
#Import data
df2 = pd.read_csv('/Users/ethanrowe/Dev/springboard_data/KSU Student Final Grades 2018 Anonymous.csv', index_col = 0)
login_times_clean = pd.read_csv('/Users/ethanrowe/Dev/springboard_data/anon_students_login_times_clean.csv', index_col = 0)

In [452]:
#df2 is the same as Course Grades (Final Grade Only View) Fall 2018 but with a column for student names
print(df2.head())
print(df2.isna().sum() )
login_times_clean = login_times_clean.sort_index()
print(login_times_clean.head())

   student id  student sis                                            course  \
0       37888          NaN  WELL1000 Foundations for Healthy Living - Howton
1       37902          NaN  WELL1000 Foundations for Healthy Living - Howton
2       37956          NaN  WELL1000 Foundations for Healthy Living - Howton
3       38080          NaN  WELL1000 Foundations for Healthy Living - Howton
4       38176          NaN  WELL1000 Foundations for Healthy Living - Howton

   course id  course sis       section  section id  section sis       term  \
0        622         NaN  WELL 1000/01        1159          NaN  Fall 2018
1        622         NaN  WELL 1000/01        1159          NaN  Fall 2018
2        622         NaN  WELL 1000/01        1159          NaN  Fall 2018
3        622         NaN  WELL 1000/01        1159          NaN  Fall 2018
4        622         NaN  WELL 1000/01        1159          NaN  Fall 2018

   term id  term sis  current score  final score enrollment state  \
0       20       NaN          87.42        86.29           active
1       20       NaN          94.90        93.67           active
2       20       NaN          94.31        93.09           active
3       20       NaN          97.18        95.92           active
4       20       NaN          84.40        83.30           active

   unposted current score  unposted final score
0                   87.42                 86.29
1                   94.90                 93.67
2                   94.31                 93.09
3                   97.18                 95.92
4                   84.40                 83.30
student id                   0
student sis               3156
course                       0
course id                    0
course sis                3156
section                      0
section id                   0
section sis               3156
term                         0
term id                      0
term sis                  3156
current score                1
final score                  0
enrollment state             0
unposted current score       1
unposted final score         0
dtype: int64
   Course Id  Unposted Final Scores         Login Time  student id
0        639                    0.0  Aug 13 at 10:46pm       38094
1        659                    0.0  Aug 13 at 11:04am       22168
2        659                    0.0   Aug 13 at 3:19pm       37144
3        638                    0.0   Aug 13 at 9:04pm       38000
4        631                    0.0   Aug 14 at 1:12pm       38410

In [453]:
#Theses cell will not run out of order from the rest of the cells since they run permanent changes and use references.

#Let's clean this right now
login_times_clean.columns = ['course id', 'unposted final score',
       'login time', 'student id']

#first convert the login column into something that is readable to pd.to_datetime
for index, entry in enumerate(login_times_clean['login time']):
    login_times_clean['login time'][index] = entry[0:-2] + entry[-2:].upper() + ' 2018'
    if login_times_clean['login time'][index][0:4] == 'Sept':
        login_times_clean['login time'][index] = 'Sep ' + entry[4:]

/Users/ethanrowe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [454]:
#convert login time new into a datetime object
time_format = '%b %d at %H:%M%p %Y'
login_times_clean['login time'] = pd.to_datetime(login_times_clean['login time'], format=time_format)

In [ ]:
#Now this data frame is prepped for merging
print(login_times_clean.shape)
print(login_times_clean.isna().sum())
login_times_clean.head()
login_times_clean.to_csv('/Users/ethanrowe/Dev/springboard_data/login_times_clean.csv')

In [455]:
#Merge
grades_login_times = pd.merge(login_times_clean, df2, on = ['student id', 'course id', 'unposted final score'], how = 'left')

#Now this is EDA ready

print(grades_login_times.isna().sum())
grades_login_times
grades_login_times.to_csv('/Users/ethanrowe/Dev/springboard_data/grades_and_login_times(below 70).csv')

#why are there so many NaN values even though each dataframe has no missing values and I think they originally came 
#from the same dataframe...?
#Shit it looks like there are student ids that are not in df2 along with student ids that do not match their course id
#in the dataframe, have to figure out who those students are or something. I don't want to deal with that shit right
#now though. I should do some EDA on the other dataframe and then come back.
#To check maybe I should write code to see if all the student ids from this side are in the other one too

course id                   0
unposted final score        0
login time                  0
student id                  0
student sis               490
course                      0
course sis                490
section                     0
section id                  0
section sis               490
term                        0
term id                     0
term sis                  490
current score               0
final score                 0
enrollment state            0
unposted current score      0
dtype: int64

In [456]:
#Find the students who stopped being active before the drop date Aug 19
drop_date = pd.Timestamp(datetime.date(2018, 8, 20))
before_aug = grades_login_times[grades_login_times['login time'] <= drop_date]
print(before_aug.shape)

#Find the students who stopped being before the other date thing, Oct 3
other_date = pd.Timestamp(datetime.date(2018, 10, 4))
before_oct = grades_login_times[(grades_login_times['login time'] >= drop_date) & (grades_login_times['login time'] <= other_date)]
print(before_oct.shape)


#Ask jenn before creating this

(45, 17)
(119, 17)

In [468]:
before_aug.head()
before_aug = before_aug.sort_values('login time')
before_aug.to_csv('students_drop_before_aug.csv')

In [470]:
before_oct.head()
before_oct = before_oct.sort_values('login time')
before_oct.to_csv('students_drop_before_oct.csv')

In [463]:
#Find the students who stopped being active before the drop date Aug 19
drop_date = pd.Timestamp(datetime.date(2018, 10, 4))
full_semester = grades_login_times[grades_login_times['login time'] >= drop_date]
print(full_semester.shape)

(326, 17)

In [471]:
full_semester = full_semester.sort_values('login time')
full_semester
full_semester.to_csv('/Users/ethanrowe/Dev/springboard_data/grades_and_login_times(below 70 after oct).csv')

In [120]:
"""
Other Data sets to consider are Click History and Assessment Responses
"""

'\nOther Data sets to consider are Click History and Assessment Responses\n'