In [127]:
"""
This could be markdown later. Include something about the note book in here if necessary.
"""

'\nThis could be markdown later. Include something about the note book in here if necessary.\n'

In [144]:
#Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pendulum

In [118]:
"""
Data Wrangling Section 1: Assessment Page Views.csv
"""
#Read in csv as dataframe
#Using a smaller subset of the data since testing with 6mil+ rows would be too intensive
df = pd.read_csv('/Users/ethanrowe/Dev/springboard_data/KSU Assessment Page Views Fall 2018.csv', nrows = 10000)

In [48]:
#Eliminate Outliers using the 1.5*interquartile rule
IQR = float(df['duration'].quantile([0.75])) - float(df['duration'].quantile([0.25]))
upper_bound = float(df['duration'].quantile([0.75])) + 1.5*IQR
lower_bound = float(df['duration'].quantile([0.25])) - 1.5*IQR

df_clean = df[(df['duration'] < upper_bound) & (df['duration'] > lower_bound)]

In [114]:
print("Cleaned Data:")
print(df_clean.shape)
print("Null Values: " + str(df_clean.isnull().values.any()))
#df_clean.to_csv('KSU Assessment Page Views Fall 2018 Clean.csv')

Cleaned Data:
(8846, 13)
Null Values: False

In [52]:
#Determine if there are missing values missing values
total =  []
for chunk in pd.read_csv('/Users/ethanrowe/Dev/springboard_data/KSU Assessment Page Views Fall 2018.csv', chunksize = 1000):
    if chunk.isnull().values.any():
        total.append(chunk)
        
#There are missing values in the whole dataframe
#Need to check user_id, canvas_assignment_d, canvas_attempt_id, page_ids
#There are no missing values in the columns that we are taking an interest in for any of our calculations
#Checked each column for missing values and each column had none

In [110]:
#Group by page and by students to compare average assignment durations
assignment_df = pd.DataFrame(df_clean.groupby(['canvas_assignment_id'])['duration'].mean())
print('\nGrouped by Assignment')
assignment_df.columns = ['Average Duration']
print(page_df.shape)

user_df = pd.DataFrame(df_clean.groupby(['user_param_external_user_id', 'canvas_assignment_id'])['duration'].mean())
print('\nGrouped by User')
user_df.columns = ['Average Duration']
print(user_df.shape)


#page_df.to_csv('KSU Assessment Assignment Duration Averages.csv')
#user_df.to_csv('KSU Assessment Student Views by User.csv')

Grouped by Assignment
(580, 1)

Grouped by User
(1865, 1)

In [111]:
#User_df is good for visualizing the data, but a df that is easier to work with will be labeled sub_df. It has the 
#same columns as user_df, just in a different order with a numerical index. It will also be sorted by 
#canvas_assignment_id in order to match assignment_df's index
sub_df = user_df.reset_index()  
sub_df = sub_df.set_index('canvas_assignment_id')  
sub_df = sub_df.sort_index()     
sub_df = sub_df.reset_index()    

#Using the user_df, turn it back into a dictionary grouped by canvas_assignment ids
dfs = {}       
for entry in sub_df.iterrows():  
    if index != entry[1]['canvas_assignment_id']:  
        index = entry[1]['canvas_assignment_id']  
        df = pd.DataFrame(columns=['canvas_assignment_id', 'user_param_external_user_id', 'Average Duration'])  
        df = df.append(dict(entry[1]), ignore_index = True) 
        dfs[index] = df  
    else:  
        dfs[index] = dfs[index].append(dict(entry[1]), ignore_index = True)  

#Now page_df and this dictionary dfs should have one to one matches for the loop below
#This loop will find all the student-assignment_id pairs that had an above average duration for that assignment
above_avg_df = pd.DataFrame(columns = ['canvas_assignment_id', 'user_param_external_user_id','Average Duration']) 
for entry in assignment_df.iterrows(): 
    df = dfs[entry[0]] 
    above_avg_chunk = df[df['Average Duration'] >= entry[1][0]] 
    above_avg_df = above_avg_df.append(above_avg_chunk) 
#above_avg_df.to_csv('KSU Students with Above Average Assignment Duration.csv')

In [116]:
print("Students with longer than average assignmnet durations:")
print(above_avg_df.shape)
print(above_avg_df.head())

Students with longer than average assignmnet durations:
(1018, 3)
   canvas_assignment_id  user_param_external_user_id  Average Duration
0               40876.0                      37827.0      12831.500000
0               40878.0                      37949.0       9549.583333
3               40878.0                      37251.0      10307.500000
0               40879.0                      38399.0      11579.000000
5               40879.0                      40394.0      16064.857143

In [315]:
"""
Data Wrangling Section 2: Course Grades 
Course Grades has been cleand by hand in excel. The details are outlined in Data Wrangling.md
"""
#Import data
df2 = pd.read_csv('/Users/ethanrowe/Dev/springboard_data/Course Grades (Final Grade Only View) Fall 2018 - Course Grades (Final Grade Only View) Fall 2018.csv')
login_times_clean = pd.read_csv('/Users/ethanrowe/Dev/springboard_data/anon_students_login_times_clean.csv', index_col = 0)

In [297]:
#The next step will be to merge login_times_clean and df2. df2 has all of the grade 
#information for certain students by name and id

#I might need to use a different dataset since that one is not anonymous, check Course Final Grades or something later
#login_times_clean is also not anonymous and it has the last access time for students by name and id

#I want a dataframe that has students grades along with last access times. Then I can break that up into those who
#were active before and after certain periods to get a good idea of the distribution.

#All of the students in login_times_clean have final grades less than 70%. I can use df2 for a number of things on its
#own but I also need it to put login_times_clean into perspective.

#First step is to clean df2 if necessary. Then start prepping all of them. They should be EDA ready by the end of this.

"""
To-Do
Load in correct csv's, double check what I need for this
Merge them or something like that or augment login_times_clean with the necessary columns

Do stuff on df2 that is necessary for cleaning like checking for missing values.

Do stuff on login_times_clean such as breaking it up by times and counting stuff. Basically all of this has been 
done in excel already, but this will be more accurate and adaptable moving forward.

"""

"\nTo-Do\nLoad in correct csv's, double check what I need for this\nMerge them or something like that or augment login_times_clean with the necessary columns\n\nDo stuff on df2 that is necessary for cleaning like checking for missing values.\n\nDo stuff on login_times_clean such as breaking it up by times and counting stuff. Basically all of this has been \ndone in excel already, but this will be more accurate and adaptable moving forward.\n\n"

In [316]:
#df2 is the same as Course Grades (Final Grade Only View) Fall 2018 but with a column for student names
print(df2.head())

login_times_clean = login_times_clean.sort_index()
print(login_times_clean.head())

   student id  course id  course sis        section  section id  section sis  \
0       38651        626         NaN   WELL 1000/08        1165          NaN
1       37597        655         NaN  WELL 1000/W83        1221          NaN
2       35615        646         NaN   WELL 1000/38        1205          NaN
3       37982        633         NaN  WELL 1000/W65        1179          NaN
4       40291        623         NaN   WELL 1000/07        1164          NaN

        term  term id  term sis  current score enrollment state
0  Fall 2018       20       NaN          10.06           active
1  Fall 2018       20       NaN          10.17           active
2  Fall 2018       20       NaN          10.29           active
3  Fall 2018       20       NaN          10.30           active
4  Fall 2018       20       NaN          10.32           active
   Course Id  Unposted Final Scores         Login Time  student id
0        639                    0.0  Aug 13 at 10:46pm       38094
1        659                    0.0  Aug 13 at 11:04am       22168
2        659                    0.0   Aug 13 at 3:19pm       37144
3        638                    0.0   Aug 13 at 9:04pm       38000
4        631                    0.0   Aug 14 at 1:12pm       38410

In [317]:
#Theses cell will not run out of order from the rest of the cells since they run permanent changes and use references.

#Let's clean this right now
login_times_clean.columns = ['course id', 'unposted final score',
       'login time', 'student id']

#first convert the login column into something that is readable to pd.to_datetime
for index, entry in enumerate(login_times_clean['login time']):
    login_times_clean['login time'][index] = entry[0:-2] + entry[-2:].upper() + ' 2018'
    if login_times_clean['login time'][index][0:4] == 'Sept':
        login_times_clean['login time'][index] = 'Sep ' + entry[4:]

/Users/ethanrowe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [318]:
#convert login time new into a datetime object
time_format = '%b %d at %H:%M%p %Y'
login_times_clean['login time'] = pd.to_datetime(login_times_clean['login time'], format=time_format)

In [321]:
#Now this data frame is prepped for merging
print(login_times_clean.shape)
login_times_clean.head()

(490, 4)

   course id  unposted final score          login time  student id
0        639                   0.0 2018-08-13 10:46:00       38094
1        659                   0.0 2018-08-13 11:04:00       22168
2        659                   0.0 2018-08-13 03:19:00       37144
3        638                   0.0 2018-08-13 09:04:00       38000
4        631                   0.0 2018-08-14 01:12:00       38410

In [323]:
#Merge
grades_login_times = pd.merge(login_times_clean, df2, on = ['student id', 'course id'], how = 'left')

#Now this is EDA ready
grades_login_times

,course id,unposted final score,login time,student id,course sis,section,section id,section sis,term,term id,term sis,current score,enrollment state
0,639,0.00,2018-08-13 10:46:00,38094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,659,0.00,2018-08-13 11:04:00,22168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,659,0.00,2018-08-13 03:19:00,37144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,638,0.00,2018-08-13 09:04:00,38000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,631,0.00,2018-08-14 01:12:00,38410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,633,6.21,2018-08-14 01:45:00,38133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,644,0.00,2018-08-14 11:12:00,38304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,659,0.00,2018-08-14 11:29:00,38320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,639,1.69,2018-08-14 11:49:00,38903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,636,0.00,2018-08-14 12:12:00,37677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,631,6.21,2018-08-14 12:15:00,38299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,639,0.00,2018-08-14 12:53:00,21575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,659,0.00,2018-08-14 02:47:00,37764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,658,0.00,2018-08-14 04:16:00,23026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,638,5.65,2018-08-14 09:00:00,37633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,639,0.00,2018-08-14 09:42:00,38838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,631,1.69,2018-08-15 01:19:00,38130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,656,0.00,2018-08-15 01:21:00,39095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,637,1.11,2018-08-15 01:43:00,38920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,658,4.79,2018-08-15 10:27:00,38018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,658,0.00,2018-08-15 11:06:00,39019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,626,9.52,2018-08-15 11:15:00,38651,NaN,WELL 1000/08,1165.0,NaN,Fall 2018,20.0,NaN,10.06,active
22,655,1.13,2018-08-15 11:55:00,4605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,654,0.00,2018-08-15 06:32:00,39274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,655,0.00,2018-08-15 08:48:00,30163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,653,0.00,2018-08-16 01:16:00,37738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,655,6.21,2018-08-16 01:52:00,37861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,656,0.00,2018-08-16 11:33:00,39152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,633,0.00,2018-08-16 05:54:00,39635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,644,0.00,2018-08-17 11:37:00,39949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,655,27.99,2018-09-24 11:35:00,38064,NaN,WELL 1000/W84,1222.0,NaN,Fall 2018,20.0,NaN,27.99,active
461,633,3.28,2018-09-24 07:41:00,41242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,658,27.67,2018-09-25 03:13:00,39726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463,655,7.01,2018-09-26 10:26:00,40311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,635,11.30,2018-09-26 12:42:00,37916,NaN,WELL1000/W67,1184.0,NaN,Fall 2018,20.0,NaN,11.83,active
465,637,27.66,2018-09-26 04:47:00,31087,NaN,WELL 1000/W70,1187.0,NaN,Fall 2018,20.0,NaN,28.94,active
466,659,17.32,2018-09-26 08:17:00,38223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,634,28.07,2018-09-27 01:27:00,39643,NaN,WELL 1000/36,1180.0,NaN,Fall 2018,20.0,NaN,28.07,active
468,640,0.00,2018-09-27 12:05:00,43488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469,639,24.65,2018-09-27 03:44:00,39141,NaN,WELL 1000/W72,1191.0,NaN,Fall 2018,20.0,NaN,24.65,active
470,658,31.18,2018-09-28 02:20:00,38998,NaN,WELL 1000/11,1229.0,NaN,Fall 2018,20.0,NaN,31.18,active
471,634,24.79,2018-09-28 04:29:00,37869,NaN,WELL 1000/36,1180.0,NaN,Fall 2018,20.0,NaN,24.79,active
472,634,18.48,2018-09-28 09:32:00,40677,NaN,WELL 1000/36,1180.0,NaN,Fall 2018,20.0,NaN,18.48,active
473,635,44.69,2018-09-29 10:28:00,37200,NaN,WELL1000/W66,1183.0,NaN,Fall 2018,20.0,NaN,46.80,active
474,655,10.73,2018-09-03 09:59:00,35480,NaN,WELL 1000/W84,1222.0,NaN,Fall 2018,20.0,NaN,10.73,active
475,644,0.00,2018-09-30 01:30:00,39966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
476,635,13.45,2018-09-30 02:51:00,38863,NaN,WELL1000/W66,1183.0,NaN,Fall 2018,20.0,NaN,14.08,active
477,653,34.33,2018-09-30 05:12:00,34356,NaN,WELL 1000/W82,1217.0,NaN,Fall 2018,20.0,NaN,35.96,active
478,643,22.80,2018-09-30 07:57:00,41858,NaN,WELL 1000/17,1200.0,NaN,Fall 2018,20.0,NaN,20.90,active
479,639,8.93,2018-09-04 01:36:00,37957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480,637,3.31,2018-09-05 10:27:00,40946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
481,638,8.93,2018-09-05 11:27:00,38397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
482,655,5.65,2018-09-06 10:27:00,22959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
483,629,21.60,2018-09-07 10:58:00,37707,NaN,WELL 1000/13,1172.0,NaN,Fall 2018,20.0,NaN,22.60,active
484,632,20.31,2018-09-07 02:59:00,39518,NaN,WELL 1000/43,1177.0,NaN,Fall 2018,20.0,NaN,21.89,active
485,658,0.00,2018-09-07 03:32:00,30225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
486,635,25.65,2018-09-07 03:59:00,37491,NaN,WELL1000/W67,1184.0,NaN,Fall 2018,20.0,NaN,26.86,active
487,644,5.92,2018-09-08 08:52:00,38337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488,623,1.08,2018-09-09 10:16:00,34648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489,654,7.25,2018-09-09 12:58:00,39884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
"""
Other Data sets to consider are Click History and Assessment Responses
"""

'\nOther Data sets to consider are Click History and Assessment Responses\n'