In [127]:
"""
This could be markdown later. Include something about the note book in here if necessary.
"""

'\nThis could be markdown later. Include something about the note book in here if necessary.\n'

In [359]:
#Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pendulum
import datetime

In [118]:
"""
Data Wrangling Section 1: Assessment Page Views.csv
"""
#Read in csv as dataframe
#Using a smaller subset of the data since testing with 6mil+ rows would be too intensive
df = pd.read_csv('/Users/ethanrowe/Dev/springboard_data/KSU Assessment Page Views Fall 2018.csv', nrows = 10000)

In [48]:
#Eliminate Outliers using the 1.5*interquartile rule
IQR = float(df['duration'].quantile([0.75])) - float(df['duration'].quantile([0.25]))
upper_bound = float(df['duration'].quantile([0.75])) + 1.5*IQR
lower_bound = float(df['duration'].quantile([0.25])) - 1.5*IQR

df_clean = df[(df['duration'] < upper_bound) & (df['duration'] > lower_bound)]

In [376]:
print("Cleaned Data:")
print(df_clean.shape)
print(df.isna().sum())
#df_clean.to_csv('KSU Assessment Page Views Fall 2018 Clean.csv')

Cleaned Data:
(8846, 13)
assessment_attempt_id                                         0
assessment_type                                               0
canvas_assignment_id                                          0
canvas_course_id                                              0
canvas_section_id                                             0
created_at                                                    0
duration                                                      0
id                                                            0
load_time                                                     0
page_id                                                       0
raw_lti_param_ext_outcome_submission_submitted_at_accepted    0
submit_time                                                   0
user_param_external_user_id                                   0
dtype: int64

In [110]:
#Group by page and by students to compare average assignment durations
assignment_df = pd.DataFrame(df_clean.groupby(['canvas_assignment_id'])['duration'].mean())
print('\nGrouped by Assignment')
assignment_df.columns = ['Average Duration']
print(page_df.shape)

user_df = pd.DataFrame(df_clean.groupby(['user_param_external_user_id', 'canvas_assignment_id'])['duration'].mean())
print('\nGrouped by User')
user_df.columns = ['Average Duration']
print(user_df.shape)


#page_df.to_csv('KSU Assessment Assignment Duration Averages.csv')
#user_df.to_csv('KSU Assessment Student Views by User.csv')

Grouped by Assignment
(580, 1)

Grouped by User
(1865, 1)

In [111]:
#User_df is good for visualizing the data, but a df that is easier to work with will be labeled sub_df. It has the 
#same columns as user_df, just in a different order with a numerical index. It will also be sorted by 
#canvas_assignment_id in order to match assignment_df's index
sub_df = user_df.reset_index()  
sub_df = sub_df.set_index('canvas_assignment_id')  
sub_df = sub_df.sort_index()     
sub_df = sub_df.reset_index()    

#Using the user_df, turn it back into a dictionary grouped by canvas_assignment ids
dfs = {}       
for entry in sub_df.iterrows():  
    if index != entry[1]['canvas_assignment_id']:  
        index = entry[1]['canvas_assignment_id']  
        df = pd.DataFrame(columns=['canvas_assignment_id', 'user_param_external_user_id', 'Average Duration'])  
        df = df.append(dict(entry[1]), ignore_index = True) 
        dfs[index] = df  
    else:  
        dfs[index] = dfs[index].append(dict(entry[1]), ignore_index = True)  

#Now page_df and this dictionary dfs should have one to one matches for the loop below
#This loop will find all the student-assignment_id pairs that had an above average duration for that assignment
above_avg_df = pd.DataFrame(columns = ['canvas_assignment_id', 'user_param_external_user_id','Average Duration']) 
for entry in assignment_df.iterrows(): 
    df = dfs[entry[0]] 
    above_avg_chunk = df[df['Average Duration'] >= entry[1][0]] 
    above_avg_df = above_avg_df.append(above_avg_chunk) 
#above_avg_df.to_csv('KSU Students with Above Average Assignment Duration.csv')

In [116]:
print("Students with longer than average assignmnet durations:")
print(above_avg_df.shape)
print(above_avg_df.head())

Students with longer than average assignmnet durations:
(1018, 3)
   canvas_assignment_id  user_param_external_user_id  Average Duration
0               40876.0                      37827.0      12831.500000
0               40878.0                      37949.0       9549.583333
3               40878.0                      37251.0      10307.500000
0               40879.0                      38399.0      11579.000000
5               40879.0                      40394.0      16064.857143

In [315]:
"""
Data Wrangling Section 2: Course Grades 
Course Grades has been cleand by hand in excel. The details are outlined in Data Wrangling.md
"""
#Import data
df2 = pd.read_csv('/Users/ethanrowe/Dev/springboard_data/Course Grades (Final Grade Only View) Fall 2018 - Course Grades (Final Grade Only View) Fall 2018.csv')
login_times_clean = pd.read_csv('/Users/ethanrowe/Dev/springboard_data/anon_students_login_times_clean.csv', index_col = 0)

In [297]:
#The next step will be to merge login_times_clean and df2. df2 has all of the grade 
#information for certain students by name and id

#I might need to use a different dataset since that one is not anonymous, check Course Final Grades or something later
#login_times_clean is also not anonymous and it has the last access time for students by name and id

#I want a dataframe that has students grades along with last access times. Then I can break that up into those who
#were active before and after certain periods to get a good idea of the distribution.

#All of the students in login_times_clean have final grades less than 70%. I can use df2 for a number of things on its
#own but I also need it to put login_times_clean into perspective.

#First step is to clean df2 if necessary. Then start prepping all of them. They should be EDA ready by the end of this.

"""
To-Do
Load in correct csv's, double check what I need for this
Merge them or something like that or augment login_times_clean with the necessary columns

Do stuff on df2 that is necessary for cleaning like checking for missing values.

Do stuff on login_times_clean such as breaking it up by times and counting stuff. Basically all of this has been 
done in excel already, but this will be more accurate and adaptable moving forward.

"""

"\nTo-Do\nLoad in correct csv's, double check what I need for this\nMerge them or something like that or augment login_times_clean with the necessary columns\n\nDo stuff on df2 that is necessary for cleaning like checking for missing values.\n\nDo stuff on login_times_clean such as breaking it up by times and counting stuff. Basically all of this has been \ndone in excel already, but this will be more accurate and adaptable moving forward.\n\n"

In [378]:
#df2 is the same as Course Grades (Final Grade Only View) Fall 2018 but with a column for student names
print(df2.head())
print(df2.isna().sum() )
login_times_clean = login_times_clean.sort_index()
print(login_times_clean.head())

   student id  course id  course sis        section  section id  section sis  \
0       38651        626         NaN   WELL 1000/08        1165          NaN
1       37597        655         NaN  WELL 1000/W83        1221          NaN
2       35615        646         NaN   WELL 1000/38        1205          NaN
3       37982        633         NaN  WELL 1000/W65        1179          NaN
4       40291        623         NaN   WELL 1000/07        1164          NaN

        term  term id  term sis  current score enrollment state
0  Fall 2018       20       NaN          10.06           active
1  Fall 2018       20       NaN          10.17           active
2  Fall 2018       20       NaN          10.29           active
3  Fall 2018       20       NaN          10.30           active
4  Fall 2018       20       NaN          10.32           active
student id             0
course id              0
course sis          3001
section                0
section id             0
section sis         3001
term                   0
term id                0
term sis            3001
current score          0
enrollment state       0
dtype: int64
   course id  unposted final score          login time  student id
0        639                   0.0 2018-08-13 10:46:00       38094
1        659                   0.0 2018-08-13 11:04:00       22168
2        659                   0.0 2018-08-13 03:19:00       37144
3        638                   0.0 2018-08-13 09:04:00       38000
4        631                   0.0 2018-08-14 01:12:00       38410

In [ ]:
#Theses cell will not run out of order from the rest of the cells since they run permanent changes and use references.

#Let's clean this right now
login_times_clean.columns = ['course id', 'unposted final score',
       'login time', 'student id']

#first convert the login column into something that is readable to pd.to_datetime
for index, entry in enumerate(login_times_clean['login time']):
    login_times_clean['login time'][index] = entry[0:-2] + entry[-2:].upper() + ' 2018'
    if login_times_clean['login time'][index][0:4] == 'Sept':
        login_times_clean['login time'][index] = 'Sep ' + entry[4:]

In [318]:
#convert login time new into a datetime object
time_format = '%b %d at %H:%M%p %Y'
login_times_clean['login time'] = pd.to_datetime(login_times_clean['login time'], format=time_format)

In [377]:
#Now this data frame is prepped for merging
print(login_times_clean.shape)
print(login_times_clean.isna().sum())
login_times_clean.head()

(490, 4)
course id               0
unposted final score    0
login time              0
student id              0
dtype: int64

   course id  unposted final score          login time  student id
0        639                   0.0 2018-08-13 10:46:00       38094
1        659                   0.0 2018-08-13 11:04:00       22168
2        659                   0.0 2018-08-13 03:19:00       37144
3        638                   0.0 2018-08-13 09:04:00       38000
4        631                   0.0 2018-08-14 01:12:00       38410

In [397]:
#Merge
grades_login_times = pd.merge(login_times_clean, df2, on = ['student id', 'course id'], how = 'left')

#Now this is EDA ready
print(grades_login_times)
print(grades_login_times.isna().sum())
#grades_login_times.to_csv('grades_and_login_times(below 70).csv')

#why are there so many NaN values even though each dataframe has no missing values and I think they originally came 
#from the same dataframe...?
#Shit it looks like there are student ids that are not in df2 along with student ids that do not match their course id
#in the dataframe, have to figure out who those students are or something. I don't want to deal with that shit right
#now though. I should do some EDA on the other dataframe and then come back.

     course id  unposted final score          login time  student id  \
0          639                  0.00 2018-08-13 10:46:00       38094
1          659                  0.00 2018-08-13 11:04:00       22168
2          659                  0.00 2018-08-13 03:19:00       37144
3          638                  0.00 2018-08-13 09:04:00       38000
4          631                  0.00 2018-08-14 01:12:00       38410
5          633                  6.21 2018-08-14 01:45:00       38133
6          644                  0.00 2018-08-14 11:12:00       38304
7          659                  0.00 2018-08-14 11:29:00       38320
8          639                  1.69 2018-08-14 11:49:00       38903
9          636                  0.00 2018-08-14 12:12:00       37677
10         631                  6.21 2018-08-14 12:15:00       38299
11         639                  0.00 2018-08-14 12:53:00       21575
12         659                  0.00 2018-08-14 02:47:00       37764
13         658                  0.00 2018-08-14 04:16:00       23026
14         638                  5.65 2018-08-14 09:00:00       37633
15         639                  0.00 2018-08-14 09:42:00       38838
16         631                  1.69 2018-08-15 01:19:00       38130
17         656                  0.00 2018-08-15 01:21:00       39095
18         637                  1.11 2018-08-15 01:43:00       38920
19         658                  4.79 2018-08-15 10:27:00       38018
20         658                  0.00 2018-08-15 11:06:00       39019
21         626                  9.52 2018-08-15 11:15:00       38651
22         655                  1.13 2018-08-15 11:55:00        4605
23         654                  0.00 2018-08-15 06:32:00       39274
24         655                  0.00 2018-08-15 08:48:00       30163
25         653                  0.00 2018-08-16 01:16:00       37738
26         655                  6.21 2018-08-16 01:52:00       37861
27         656                  0.00 2018-08-16 11:33:00       39152
28         633                  0.00 2018-08-16 05:54:00       39635
29         644                  0.00 2018-08-17 11:37:00       39949
..         ...                   ...                 ...         ...
460        655                 27.99 2018-09-24 11:35:00       38064
461        633                  3.28 2018-09-24 07:41:00       41242
462        658                 27.67 2018-09-25 03:13:00       39726
463        655                  7.01 2018-09-26 10:26:00       40311
464        635                 11.30 2018-09-26 12:42:00       37916
465        637                 27.66 2018-09-26 04:47:00       31087
466        659                 17.32 2018-09-26 08:17:00       38223
467        634                 28.07 2018-09-27 01:27:00       39643
468        640                  0.00 2018-09-27 12:05:00       43488
469        639                 24.65 2018-09-27 03:44:00       39141
470        658                 31.18 2018-09-28 02:20:00       38998
471        634                 24.79 2018-09-28 04:29:00       37869
472        634                 18.48 2018-09-28 09:32:00       40677
473        635                 44.69 2018-09-29 10:28:00       37200
474        655                 10.73 2018-09-03 09:59:00       35480
475        644                  0.00 2018-09-30 01:30:00       39966
476        635                 13.45 2018-09-30 02:51:00       38863
477        653                 34.33 2018-09-30 05:12:00       34356
478        643                 22.80 2018-09-30 07:57:00       41858
479        639                  8.93 2018-09-04 01:36:00       37957
480        637                  3.31 2018-09-05 10:27:00       40946
481        638                  8.93 2018-09-05 11:27:00       38397
482        655                  5.65 2018-09-06 10:27:00       22959
483        629                 21.60 2018-09-07 10:58:00       37707
484        632                 20.31 2018-09-07 02:59:00       39518
485        658                  0.00 2018-09-07 03:32:00       30225
486        635                 25.65 2018-09-07 03:59:00       37491
487        644                  5.92 2018-09-08 08:52:00       38337
488        623                  1.08 2018-09-09 10:16:00       34648
489        654                  7.25 2018-09-09 12:58:00       39884

     course sis        section  section id  section sis       term  term id  \
0           NaN            NaN         NaN          NaN        NaN      NaN
1           NaN            NaN         NaN          NaN        NaN      NaN
2           NaN            NaN         NaN          NaN        NaN      NaN
3           NaN            NaN         NaN          NaN        NaN      NaN
4           NaN            NaN         NaN          NaN        NaN      NaN
5           NaN            NaN         NaN          NaN        NaN      NaN
6           NaN            NaN         NaN          NaN        NaN      NaN
7           NaN            NaN         NaN          NaN        NaN      NaN
8           NaN            NaN         NaN          NaN        NaN      NaN
9           NaN            NaN         NaN          NaN        NaN      NaN
10          NaN            NaN         NaN          NaN        NaN      NaN
11          NaN            NaN         NaN          NaN        NaN      NaN
12          NaN            NaN         NaN          NaN        NaN      NaN
13          NaN            NaN         NaN          NaN        NaN      NaN
14          NaN            NaN         NaN          NaN        NaN      NaN
15          NaN            NaN         NaN          NaN        NaN      NaN
16          NaN            NaN         NaN          NaN        NaN      NaN
17          NaN            NaN         NaN          NaN        NaN      NaN
18          NaN            NaN         NaN          NaN        NaN      NaN
19          NaN            NaN         NaN          NaN        NaN      NaN
20          NaN            NaN         NaN          NaN        NaN      NaN
21          NaN   WELL 1000/08      1165.0          NaN  Fall 2018     20.0
22          NaN            NaN         NaN          NaN        NaN      NaN
23          NaN            NaN         NaN          NaN        NaN      NaN
24          NaN            NaN         NaN          NaN        NaN      NaN
25          NaN            NaN         NaN          NaN        NaN      NaN
26          NaN            NaN         NaN          NaN        NaN      NaN
27          NaN            NaN         NaN          NaN        NaN      NaN
28          NaN            NaN         NaN          NaN        NaN      NaN
29          NaN            NaN         NaN          NaN        NaN      NaN
..          ...            ...         ...          ...        ...      ...
460         NaN  WELL 1000/W84      1222.0          NaN  Fall 2018     20.0
461         NaN            NaN         NaN          NaN        NaN      NaN
462         NaN            NaN         NaN          NaN        NaN      NaN
463         NaN            NaN         NaN          NaN        NaN      NaN
464         NaN   WELL1000/W67      1184.0          NaN  Fall 2018     20.0
465         NaN  WELL 1000/W70      1187.0          NaN  Fall 2018     20.0
466         NaN            NaN         NaN          NaN        NaN      NaN
467         NaN   WELL 1000/36      1180.0          NaN  Fall 2018     20.0
468         NaN            NaN         NaN          NaN        NaN      NaN
469         NaN  WELL 1000/W72      1191.0          NaN  Fall 2018     20.0
470         NaN   WELL 1000/11      1229.0          NaN  Fall 2018     20.0
471         NaN   WELL 1000/36      1180.0          NaN  Fall 2018     20.0
472         NaN   WELL 1000/36      1180.0          NaN  Fall 2018     20.0
473         NaN   WELL1000/W66      1183.0          NaN  Fall 2018     20.0
474         NaN  WELL 1000/W84      1222.0          NaN  Fall 2018     20.0
475         NaN            NaN         NaN          NaN        NaN      NaN
476         NaN   WELL1000/W66      1183.0          NaN  Fall 2018     20.0
477         NaN  WELL 1000/W82      1217.0          NaN  Fall 2018     20.0
478         NaN   WELL 1000/17      1200.0          NaN  Fall 2018     20.0
479         NaN            NaN         NaN          NaN        NaN      NaN
480         NaN            NaN         NaN          NaN        NaN      NaN
481         NaN            NaN         NaN          NaN        NaN      NaN
482         NaN            NaN         NaN          NaN        NaN      NaN
483         NaN   WELL 1000/13      1172.0          NaN  Fall 2018     20.0
484         NaN   WELL 1000/43      1177.0          NaN  Fall 2018     20.0
485         NaN            NaN         NaN          NaN        NaN      NaN
486         NaN   WELL1000/W67      1184.0          NaN  Fall 2018     20.0
487         NaN            NaN         NaN          NaN        NaN      NaN
488         NaN            NaN         NaN          NaN        NaN      NaN
489         NaN            NaN         NaN          NaN        NaN      NaN

     term sis  current score enrollment state
0         NaN            NaN              NaN
1         NaN            NaN              NaN
2         NaN            NaN              NaN
3         NaN            NaN              NaN
4         NaN            NaN              NaN
5         NaN            NaN              NaN
6         NaN            NaN              NaN
7         NaN            NaN              NaN
8         NaN            NaN              NaN
9         NaN            NaN              NaN
10        NaN            NaN              NaN
11        NaN            NaN              NaN
12        NaN            NaN              NaN
13        NaN            NaN              NaN
14        NaN            NaN              NaN
15        NaN            NaN              NaN
16        NaN            NaN              NaN
17        NaN            NaN              NaN
18        NaN            NaN              NaN
19        NaN            NaN              NaN
20        NaN            NaN              NaN
21        NaN          10.06           active
22        NaN            NaN              NaN
23        NaN            NaN              NaN
24        NaN            NaN              NaN
25        NaN            NaN              NaN
26        NaN            NaN              NaN
27        NaN            NaN              NaN
28        NaN            NaN              NaN
29        NaN            NaN              NaN
..        ...            ...              ...
460       NaN          27.99           active
461       NaN            NaN              NaN
462       NaN            NaN              NaN
463       NaN            NaN              NaN
464       NaN          11.83           active
465       NaN          28.94           active
466       NaN            NaN              NaN
467       NaN          28.07           active
468       NaN            NaN              NaN
469       NaN          24.65           active
470       NaN          31.18           active
471       NaN          24.79           active
472       NaN          18.48           active
473       NaN          46.80           active
474       NaN          10.73           active
475       NaN            NaN              NaN
476       NaN          14.08           active
477       NaN          35.96           active
478       NaN          20.90           active
479       NaN            NaN              NaN
480       NaN            NaN              NaN
481       NaN            NaN              NaN
482       NaN            NaN              NaN
483       NaN          22.60           active
484       NaN          21.89           active
485       NaN            NaN              NaN
486       NaN          26.86           active
487       NaN            NaN              NaN
488       NaN            NaN              NaN
489       NaN            NaN              NaN

[490 rows x 13 columns]
course id                 0
unposted final score      0
login time                0
student id                0
course sis              490
section                 117
section id              117
section sis             490
term                    117
term id                 117
term sis                490
current score           117
enrollment state        117
dtype: int64

In [387]:
#Find the students who stopped being active before the drop date Aug 19
drop_date = pd.Timestamp(datetime.date(2018, 8, 20))
before_aug = grades_login_times[grades_login_times['login time'] <= drop_date]
print(before_aug.shape)

#Find the students who stopped being before the other date thing, Oct 3
other_date = pd.Timestamp(datetime.date(2018, 10, 4))
before_oct = grades_login_times[(grades_login_times['login time'] >= drop_date) & (grades_login_times['login time'] <= other_date)]
print(before_oct.shape)

(45, 13)
(119, 13)

In [120]:
"""
Other Data sets to consider are Click History and Assessment Responses
"""

'\nOther Data sets to consider are Click History and Assessment Responses\n'